apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: mein-speicher-antrag
  namespace: default
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: local-path
  resources:
    requests:
      storage: 1Gi